body {
    font-family: Arial, serif
}

/* Setting up the slider styling */
.slidecontainer {
    width: 120px;
    margin-top: -30px;
    margin-left: 10px;
    z-index: 100;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #3c73a8;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #3c73a8;
    cursor: pointer;
}

.title_text {
    position: absolute;
    top: 3%;
    margin-left: 37.5%;
    width: 25%;
    border: 3px solid #3c73a8;
    background-color: #FFFFFF;
    opacity: .90;
    text-align: center;
}

.year_text {
    position: absolute;
    top: 10%;
    margin-left: 2%;
    width: 10%;
    border: 3px solid #3c73a8;
    background-color: #FFFFFF;
    opacity: .90;
    text-align: center;
}

.table-title {
    font-size: 1.35em;
    font-weight: bold;
    color: #3c73a8;
    background-color: #ffffff;
    text-align: center;
    border-top: 2px solid #3c73a8;
    border-left: 2px solid #3c73a8;
    border-right: 2px solid #3c73a8;
    opacity: .90;
}

.styled-legend {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    opacity: .90;
}

.styled-legend thead tr {
    background-color: #3c73a8;
    color: #ffffff;
    text-align: left;
    height: .5em;
    border-left: 2px solid #009879;
    border-right: 2px solid #009879;
}

.styled-legend th,
.styled-legend td {
    padding: 8px 10px;
}

.styled-legend tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-legend tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-legend tbody tr:last-of-type {
    border-bottom: 2px solid #3c73a8;
}

.styled-legend tbody tr.active-row {
    font-weight: bold;
    color: #3c73a8;
    background-color: #ffffff;
    border-left: 2px solid #3c73a8;
    border-right: 2px solid #3c73a8;
}

.patch_square {
    width:10px;
    height: 10px;
    background-color: #d73027;
    border: none;
}

.transitional_square {
    width: 10px;
    height: 10px;
    background-color: #f88c5a;
    border: none;
}

.edge_square {
    width: 10px;
    height: 10px;
    background-color: #fce08b;
    border: none;
}

.perforated_square {
    width: 10px;
    height: 10px;
    background-color: #d9ee8b;
    border: none;
}

.interior_square {
    width: 10px;
    height: 10px;
    background-color: #25984f;
    border: none;
}

.undetermined_square {
    width: 10px;
    height: 10px;
    background-color: #91ce60;
    border: none;
}

.open_water_square {
    width: 10px;
    height: 10px;
    background-color: #466b9f;
    border: none;
}

.ice_snow_square {
    width: 10px;
    height: 10px;
    background-color: #d1def8;
    border: none;
}

.dev_open_space_square {
    width: 10px;
    height: 10px;
    background-color: #dec5c5;
    border: none;
}

.dev_low_intensity_square {
    width: 10px;
    height: 10px;
    background-color: #d99282;
    border: none;
}

.dev_med_intensity_square {
    width: 10px;
    height: 10px;
    background-color: #eb0000;
    border: none;
}

.dev_hi_intensity_square {
    width: 10px;
    height: 10px;
    background-color: #ab0000;
    border: none;
}

.barren_land_square {
    width: 10px;
    height: 10px;
    background-color: #b3ac9f;
    border: none;
}

.decid_forest_square {
    width: 10px;
    height: 10px;
    background-color: #68ab5f;
    border: none;
}

.evergreen_forest_square {
    width: 10px;
    height: 10px;
    background-color: #1c5f2c;
    border: none;
}

.mix_forest_square {
    width: 10px;
    height: 10px;
    background-color: #b5c58f;
    border: none;
}

.shrub_scrub_square {
    width: 10px;
    height: 10px;
    background-color: #ccb879;
    border: none;
}

.grass_herb_square {
    width: 10px;
    height: 10px;
    background-color: #dfdfc2;
    border: none;
}

.pasture_hay_square {
    width: 10px;
    height: 10px;
    background-color: #dcd939;
    border: none;
}

.crops_square {
    width: 10px;
    height: 10px;
    background-color: #ab6c28;
    border: none;
}

.woody_wetlands_square {
    width: 10px;
    height: 10px;
    background-color: #b8d9eb;
    border: none;
}

.emer_herb_wetlands_square {
    width: 10px;
    height: 10px;
    background-color: #6c9fb8;
    border: none;
}

.lowest_ff_change_class {
    width: 10px;
    height: 10px;
    color: #d7191c;
    border-color: #d7191c;
    border-style: solid;
}

.second_lowest_ff_change_class {
    width: 100%;
    height: 100%;
    color: #fdae61;
    border-color: #fdae61;
    border-style: solid;
}

.middle_ff_change_class {
    width: 10px;
    height: 10px;
    color: #fada5e;
    border-color: #fada5e;
    border-style: solid;
}

.second_highest_ff_change_class {
    width: 10px;
    height: 10px;
    color: #a6d96a;
    border-color: #a6d96a;
    border-style: solid;
}

.highest_ff_change_class {
    width: 10px;
    height: 10px;
    color: #1a9641;
    border-color: #1a9641;
    border-style: solid;
}